body {
  background: #eee;
}

.navbar-recipes {
  background: #999;
  min-height: 3em;
  margin-bottom: 2em;
  border: none;
  border-radius: 0;
}

#recipe-search {
  text-align: center;
}

#recipe-search > input {
  border: solid 1px #ccc;
  border-radius: 1em;
  padding-left: 1em;
  padding-right: 1em;
  height: 2em;
  width: 400px;
}

#recipe-search > input:focus {
  outline: none;
}

.recipe {
  background: white;
  box-shadow: 0px 0px 10px 0px #ccc;
  margin-top: 2em;
  margin-bottom: 2em;
  height: 300px;
  cursor: default;
}

.recipe:hover {
  background: #ddd;
}

.recipe > img {
  float: right;
  padding-left: 1em;
}

.recipe > .description {
  padding: 1em;
  position: relative;
  height: 250px;
}

.recipe h2 {
  font-weight: bold;
}

.recipe-rating {
  font-size: 200%;
  color: #ea2;
  margin-bottom: 0;
  position: absolute;
  bottom: -1em;
  left: 0.5em;
}
